name: Remove a spec from SwaggerHub
defaults:
  run:
    working-directory: openapi
    
on:
  pull_request:
    types: [closed]
  delete:
    branches:
      - master
      - v[0-9]+.[0-9]+.[0-9]+
      - feature/*

jobs:
  removespec:
    name: Remove the corresponding spec from SwaggerHub
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Extract branch name on PR
        if: github.event_name == 'pull_request'
        run: echo "::set-env name=BRANCH_NAME::$(echo ${GITHUB_HEAD_REF})"

      - name: remove spec from swaggerhub
        env:
          AUTH_TOKEN: ${{secrets.SGH_TOKEN}}
        shell: bash
        run: |
          version=${BRANCH_NAME}
          version=`echo $version|sed 's#[^a-zA-Z0-9_\.\-]#_#g'`
          echo "removing API spec: ${version} from swaggerhub"
          curl -X DELETE "https://api.swaggerhub.com/apis/idoko/moira-alert/${version}" -H "content-type: application/yaml" -H "Authorization: ${AUTH_TOKEN}"
